<!DOCTYPE html>
<html>
<head>
	<title>ABOUT</title>
</head>
<body>
	<div class="col-md-4" id="about">
	    <img src=/assets/about.jpg alt="about">
	</div>

	<div class="col-md-4 pull-right" id="about-section">
		<h4>hello!</h4>
		<p>I am so happy you're here. I'm a natural light photographer and film maker based out of sunny Arizona. I am a young mother to three beautiful children and wife to a wonderful man. </p>
		<p>Our little family loves traveling and a great adventure. We can't get enough of the sun on our skin and sand between our toes, at the same time adoring the mountains and beauty in the pine trees. We live a healthy lifestyle and have a passion for the earth & strive to thrive in life. Our children are the best thing to happen to us! I share a little bit of our life here on occasion.</p>
		<p>My work captures the raw & real moments of life; the little details that would otherwise go unnoticed. I love to document beauty wherever I am, in everything I experience.</p>
		<p>Thank you for being here! I'm excited to connect with you</p>
		<p>Ever since I can remember I have had a passion for telling a story through images. I would love document yours honestly, candidly and beautifully. Please say hello!</p>
		<h5>For pricing, bookings + other inquiries please contact me:</h5>
		<h5>lindsaydickerson10@gmail.com</h5>
	</div>
</body>
</html>